<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WebRTC Screen Viewer</title>
  <style>
    #remoteVideo {
      width: 95vw;
      height: 90vh;
    }
  </style>
  <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
</head>

<body>
  <div>
    <input id="channel" type="text" placeholder="Channel name" onkeyup="handleChannelName(event)" />
    <button id="join" disabled onclick="joinChannel()">Join channel</button>
    <button id="fullscreen" disabled onclick="toFullscreen()">Fullscreen</button>
    <button id="stop" disabled onclick="closeVideo()">Stop video</button>
  </div>
  <video id="remoteVideo" playsinline muted autoplay></video>
  <script src="./view.js"></script>
</body>

</html>
